body {
    background-color: rgb(255, 196, 35);
}
.principal {
    background-color: rgb(255, 174, 0);
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
}
.ej-columnas{
    background-color: rgba(200, 200, 200, 1);
}
.row {
    padding: 20px 0;
    margin-top: 10px 0;
}

.tarjetas-1 .card {
    margin: 5px;
}

.tortas-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .tortas-column {
    flex: 1;
    min-width: 250px;
  }
  body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  .comic {
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  h2 {
    color: red;
  }
    